- if local_assigns[:is_new]
  = render partial: "shared/account_fields", locals: { f: f, account_class: NufsAccount }

= f.input :description
= f.label :facility_accounts, t("facility_accounts.account_fields.label.allows_allocation")
= f.check_box :allows_allocation
<br>
<br>