.well
  .container
    .row
      .span6
        = simple_fields_for :addition_price_policy do |ad|
          = ad.input t(".label"),
            collection: @addition_price_policy,
            input_html: { name: "addition_price_policy" },
            selected: @select_addition_price_policy

